apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: webservers.example.com
spec:
  group: example.com
  scope: Namespaced
  names:
    kind: WebServer
    plural: webservers
    singular: webserver
    shortNames:
      - ws
  versions:
    - name: v1alpha1
      served: true
      storage: true
      schema:
        openAPIV3Schema:
          type: object
          properties:
            spec:
              type: object
              properties:
                type:
                  type: string
                  enum:
                    - nginx
                    - apache
                  description: "Which web server to deploy"
                replicas:
                  type: integer
                  minimum: 1
                  default: 1
                image:
                  type: string
                  description: "Optional override container image"
                port:
                  type: integer
                  default: 8080
              required:
                - type
            status:
              type: object
              properties:
                phase:
                  type: string
                message:
                  type: string
