apiVersion: apps/v1
kind: Deployment
metadata:
  name: webserver-operator
  namespace: webserver-operator-system
  labels:
    name: webserver-operator
spec:
  replicas: 1
  selector:
    matchLabels:
      name: webserver-operator
  template:
    metadata:
      labels:
        name: webserver-operator
    spec:
      serviceAccountName: webserver-operator
      containers:
        - name: ansible-operator
          # >>> This is where the operator image is referenced <<<
          image: "quay.io/philip860/webserver-operator:latest"
          imagePullPolicy: Always
          env:
            # For OLM-managed installs this is filled automatically.
            # For direct YAML install you can set WATCH_NAMESPACE to a specific project,
            # or leave it empty to watch all namespaces.
            - name: WATCH_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.annotations['olm.targetNamespaces']
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: OPERATOR_NAME
              value: "webserver-operator"
